extends layouts/default
block content
  .inner-page
    <video autoplay muted loop class="bgVideo dec-video">
      <source src="images/bg_video_banner.mp4" type="video/mp4">
    </video>
    .founder-page
      .container
        .section-title.aos-init(
          data-aos="fade-up"
          data-aos-duration="1000")
          span Mitera's Founders
        .single-founder._team.aos-init(
          data-aos="fade-up"
          data-aos-duration="1000")
          .section-dna-decor._bottom.aos-init(
            data-aos="fade-up"
            data-aos-offset='-100'
            data-aos-duration="1000")
          .single-founder__row
            .single-founder__img
              img(src='images/img_founder_1.jpg' alt loading='lazy')
            .single-founder__text
              .single-founder__text-alingner
                .soc-wrap
                  a.soc(href='#')
                    <svg class="svg">
                    <use xlink:href="images/sprite.svg#ic_linkedin">
                    </use>
                    </svg>
                h2 Saman Askari
                <b> Co-Founder & CEO</b>
                hr
                blockquote Saman is a healthcare leader who has helped organizations extend access to care and create sustainable growth through process improvement and resource efficiency, while maintaining a high standard for quality of care.
                p Inspired by personal challenges and a vision to provide accessible, risk-appropriate reproductive care for families, he co-founded Mitera in 2020. Prior to that, Saman ran the operations at a healthcare organization and led it through a significant growth phase. He oversaw the implementation of various automation and digitization initiatives, digital marketing strategies and employee expansion and training programs. His work and influence led to highly improved delivery of care and increased patient satisfaction.
                p His goal at Mitera is to help democratize access to obstetrical screenings and reproductive genetic information in a responsible manner by leading the company in efficiently scaling its operations and maintaining its quality of care. By doing so, he believes he can contribute to significant improvements in reproductive outcomes for families.
                p Saman has an MBA from Northeastern University and an M.Eng. from MIT-Zaragoza, which is part of MIT’s Global SCALE Network.
        .single-founder._team.aos-init(
          data-aos="fade-up"
          data-aos-duration="1000")
          .section-dna-decor._bottom.aos-init(
            data-aos="fade-up"
            data-aos-offset='-100'
            data-aos-duration="1000")
          .single-founder__row
            .single-founder__img
              img(src='images/img_founder_2.jpg' alt loading='lazy')
            .single-founder__text
              .single-founder__text-alingner
                .soc-wrap
                  a.soc(href='#')
                    <svg class="svg">
                    <use xlink:href="images/sprite.svg#ic_linkedin">
                    </use>
                    </svg>
                h2 Saman Askari, MBA, M.Eng.
                b Co-Founder & COO
                hr
                blockquote Saman Askari is a business operations expert extensive experience in consulting and operations management within healthcare, high-tech and other industries.
                p His work has mainly focused on helping organizations create sustainable growth through process improvement and resource efficiency. He has an MBA from Northeastern University and an M.Eng. from MIT-Zaragoza International Logistics Program, which is part of MIT’s Global SCALE Network.
                p Prior to co-founding Mitera, Saman was the Director of Business Operations at a healthcare organization and led it through a significant growth phase. He implemented automation and digitization initiatives, metrics-based performance analysis processes, digital marketing strategies and employee training programs. His work and influence led to increased patient satisfaction and highly improved delivery of care.
                p His goal at Mitera is to lead and support the company’s technology initiatives and o scale its operations in a sustainable and efficient manner. its operations and network of providers in an efficient and sustainable manner. He is dedicated to Mitera’s vision to deliver risk-appropriate obstetrical care to women anywhere in order to achieve the best possible pregnancy outcomes.
          .single-founder__video(
            data-aos="fade-up"
            data-aos-duration="1000")
            .single-founder__video-row 
              p Meet Kathy Salari, Chief Medical Officer & Co-Founder
              p 
                span Co-Founder Bio
            .surrogacy__heading_video(
              data-aos="fade-up"
              data-aos-duration="1000")
              img(src="images/pre_video.jpg" alt loading='lazy')
              video(id = "my-video" src="images/video.mp4" preload="auto" muted)    