extends layouts/default
block content
  .intended-parents-page
    section.home-banner.mod
      <video autoplay muted loop class="bgVideo dec-video">
      <source src="images/bg_video_banner.mp4" type="video/mp4">
      </video>
      .container
        .home-banner__title
          h1
            span.aos-init(
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-duration="1000") Intended Parents
    section.intended.bg-decorator._bg-orange(
    id="intended"
    data-aos="fade-up"
    data-aos-duration="1000")
      .container
        .intended__top
          .intended__top_text
            p
              strong Intended Parents
            p Ensure the best possible outcome for your surrogacy journey by utilizing Maternal-Fetal Medicine (MFM) subspecialty expertise!
          .intended__top_img
            img(src="images/surr_men.jpg" alt loading='lazy')
        .intended__bottom.intended_sm
          p By choosing a Mitera-certified agency or fertility center:
          .partners.aos-init(
            data-aos="fade"
            data-aos-duration="1000")
            .partners__item
              .partner
                .partner__icon
                  img(src='images/ic_partner_4.svg' alt loading='lazy')
                .partner__title
                  | Your gestational carrier is medically screened using the highest medical standards set in third-party reproduction

            .partners__item
              .partner
                .partner__icon
                  img(src='images/ic_partner_2.svg' alt loading='lazy')
                .partner__title
                  | You incorporate MFM subspecialty expertise into the care of your pregnancy while respecting the
                  | autonomy of your surrogate to choose their own OB provider

            .partners__item
              .partner
                .partner__icon
                  img(src='images/ic_partner_9.svg' alt loading='lazy')
                .partner__title
                  | You identify and address issues that may arise during pregnancy

            .partners__item
              .partner
                a(href='#').btn.surr_btn
                  .btn__bg
                  span.desk You may also book your own screening by clicking here
                    <svg class="svg">
                    <use xlink:href="images/sprite.svg#ic_arrow_right">
                    </use>
                    </svg>
    section.guidance-sec
      .advatages-sec__heading-decorator
            img(src='images/img_adv_title_decor.png' alt loading='lazy')
      .container
        .guidance-sec__heading
          .section-title.aos-init(
            data-aos="fade-up"
            data-aos-duration="1000") Mitera's Services:
          a(href='#'
            data-aos="fade-up"
            data-aos-delay='300'
            data-aos-duration="1000"
          ).btn.aos-init
            .btn__bg
            span Book A Consultation
              <svg class="svg">
              <use xlink:href="images/sprite.svg#ic_arrow_right">
              </use>
              </svg>
        .guidance-sec__content.aos-init(
          data-aos="fade-up"
          data-aos-duration="1000")
          .accordion
            .accordion__item
              .accordion__title MFM Preconception Screening
              .accordion__text
                p Whether you are currently pregnant or planning pregnancy, a screening by an MFM subspecialist in addition to your standard care can optimize your pregnancy outcome and reduce risk for you and your baby. MFM subspecialists are the experts in the maternal and fetal complications of pregnancy.
            .accordion__item
              .accordion__title MFM Gestational Carrier Screening
              .accordion__text
                p We provide comprehensive medical and obstetrical risk assessments of gestational carrier candidates by our MFM subspecialists. Involving an MFM early helps prevent adverse obstetrical outcomes as well provides as an opportunity for pregnancy optimization.
            .accordion__item
              .accordion__title Reproductive Genetic Counseling
              .accordion__text
                p With the complexity of today’s screening and diagnostic modalities, having the opportunity to spend time with a certified reproductive genetic counselor is invaluable. We give you the opportunity to learn about all of the screening modalities and help you navigate the ever-evolving world of reproductive genetics.
    section.partner-form__section(
      id="intended"
      data-aos="fade-up"
      data-aos-duration="1000")
      .bg-decorator._bg-blue
        .container
          .partner-form__row
            .section-dna-decor._bottom
            .section-dna-decor._top
            .partner-form__title 
              h2 Would you like to add your surrogacy agency as a Mitera Certified Partner?
            .partner-form__form 
              p Fill out the form below and we’ll take of therest!
              form.form
                .form__item
                  input.form-input(type='text' placeholder='Intended Parent Name *')
                .form__item
                  input.form-input(type='email' placeholder='Intended Parent(s) email *')
                .form__item
                  input.form-input(type='text' placeholder='Agency Name *')
                .form__item
                  input.form-input(type='tel' placeholder='Agency phone number *')
                .form__item
                  input.form-input(type='email' placeholder='Agency email address')
                .form__item.form__checkbox 
                  label 
                    input.form-input(type='checkbox') 
                    span.checkbox
                    | Yes, I’d like my agency to become Mitera Certified
                .form__submit
                  input(type='submit' value='Submit') 
  #modal-tnx.modal.micromodal-slide(aria-hidden='true')
    .modal__overlay(tabindex='-1' data-micromodal-close='')
      .modal__container(role='dialog' aria-modal='true')
        .modal__header
          .modal__title
            span Thank You!
        .modal__content
          p You will be hearing from us soon!
          code To call popup MicroModal.show('modal-tnx')
  script.
    // for demonstration only remove on PROD !
    var showModal = true;
        //- a(href='#').btn.surr_btn
        //-   .btn__bg
        //-   span.desk You may also book your own screening by clicking here
        //-     <svg class="svg">
        //-     <use xlink:href="images/sprite.svg#ic_arrow_right">
        //-     </use>
        //-     </svg>
        //-   span.mob Book your own screening
        //-     <svg class="svg">
        //-     <use xlink:href="images/sprite.svg#ic_arrow_right">
        //-     </use>
        //-     </svg>
  //- .container
  //-   section.certified(
  //-     id="agencies"
  //-     data-aos="fade-up"
  //-     data-aos-duration="1000")
  //-     .certified__content
  //-       .certified__content_description
  //-         p
  //-           strong Are you Mitera certified yet?
  //-         p Partner with Mitera to provide peace of mind for your clients and ensure better outcomes for your organization.
  //-       .certified__content_cta
  //-         p Click here to schedule a call with a Mitera representative to learn more
  //-         a(href='#').btn
  //-           .btn__bg
  //-           span Schedule
  //-     .certified__bottom
  //-       a(href='#').btn.surr_btn
  //-         .btn__bg
  //-         span.desk Click here to start the certification process
  //-           <svg class="svg">
  //-           <use xlink:href="images/sprite.svg#ic_arrow_right">
  //-           </use>
  //-           </svg>
  //-         span.mob Start the certification process
  //-           <svg class="svg">
  //-           <use xlink:href="images/sprite.svg#ic_arrow_right">
  //-           </use>
  //-           </svg>

  //- section.partners-sec
  //-   .container
  //-     .section-title.aos-init(
  //-       data-aos="fade-up"
  //-       data-aos-duration="1000") Certified Partners
  //-     .partners-logos.swiper
  //-       .swiper-wrapper
  //-         .partners-logos__item.swiper-slide
  //-           a(href="http://localhost:9000/home.html")
  //-             img(src='images/img_partner_logo1.png')
  //-         .partners-logos__item.swiper-slide
  //-           a(href="http://localhost:9000/home.html")
  //-             img(src='images/img_partner_logo2.png')
  //-         .partners-logos__item.swiper-slide
  //-           a(href="http://localhost:9000/home.html")
  //-             img(src='images/img_partner_logo3.png')
  //-         .partners-logos__item.swiper-slide
  //-           a(href="http://localhost:9000/home.html")
  //-             img(src='images/img_partner_logo4.png')
  //-         .partners-logos__item.swiper-slide
  //-           a(href="http://localhost:9000/home.html")
  //-             img(src='images/img_partner_logo4.png')
  //-   <video autoplay muted loop class="bgVideoPartner dec-video">
  //-   <source src="images/video2.mp4" type="video/mp4">
  //-   </video>
  //- section.testimonials-sec.circle.circle_blue
  //-   .bg-decorator._bg-blue._circle.section-with-dna-decor
  //-     .section-dna-decor._bottom
  //-     .container
  //-       .testimonials-sec__heading.aos-init(
  //-         data-aos="fade-up"
  //-         data-aos-duration="1000")
  //-         .section-title
  //-           span Testimonials
  //-         .testimonials__controls
  //-           .testim-swiper-button-prev <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  //-             <path d="M0.292893 7.29289C-0.0976314 7.68342 -0.0976315 8.31658 0.292892 8.7071L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34314C8.46159 1.95262 8.46159 1.31946 8.07107 0.928931C7.68054 0.538406 7.04738 0.538406 6.65686 0.928931L0.292893 7.29289ZM23 7L1 7L1 9L23 9L23 7Z" />
  //-             </svg>
  //-           .testim-swiper-pager
  //-           .testim-swiper-button-next <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  //-             <path  d="M22.7071 8.70711C23.0976 8.31658 23.0976 7.68342 22.7071 7.29289L16.3431 0.928932C15.9526 0.538408 15.3195 0.538408 14.9289 0.928932C14.5384 1.31946 14.5384 1.95262 14.9289 2.34315L20.5858 8L14.9289 13.6569C14.5384 14.0474 14.5384 14.6805 14.9289 15.0711C15.3195 15.4616 15.9526 15.4616 16.3431 15.0711L22.7071 8.70711ZM0 9L22 9V7L0 7L0 9Z"/>
  //-             </svg>
  //-       .testimonials-sec__slider
  //-         .testimonials-slider.swiper-container
  //-           .testimonials.swiper-wrapper
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text I had a great experience with Mitera.  The booking process was simple and the instructions on how to access the call were easy to follow and understand.  The provider I met with showed genuine care and concern for my body and the health of my pregnancy.
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text Whether you are currently pregnant or planning pregnancy, consultation with a MFM subspecialist in addition
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text Whether you are currently pregnant or planning pregnancy, consultation with a MFM subspecialist in addition
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text I had a great experience with Mitera.  The booking process was simple and the instructions on how to access the call were easy to follow and understand.  The provider I met with showed genuine care and concern for my body and the health of my pregnancy.
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text Whether you are currently pregnant or planning pregnancy, consultation with a MFM subspecialist in addition
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text I had a great experience with Mitera.  The booking process was simple and the instructions on how to access the call were easy to follow and understand.  The provider I met with showed genuine care and concern for my body and the health of my pregnancy.
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman
  //-             .testimonials__item.swiper-slide
  //-               .testimonial
  //-                 .testimonial__text Whether you are currently pregnant or planning pregnancy, consultation with a MFM subspecialist in addition
  //-                 .testimonial__head
  //-                   .testimonial__avtar
  //-                     img(src='images/img_testim_avatar.jpg' alt loading='lazy')
  //-                   .testimonial__name Susan Stiffelman


